<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.lingod.dao.FaLinkPoolMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.as.lingod.domain.FaLinkPool">
        <id column="id" property="id" />
        <result column="defective_rate" property="defectiveRate" />
        <result column="team_performance" property="teamPerformance" />
        <result column="createDate" property="createDate" />
        <result column="link_id" property="linkId" />
        <result column="xianbie" property="xianbie" />
        <result column="totalPass" property="totalPass" />
        <result column="totalFail" property="totalFail" />
        <result column="total" property="total" />
        <result column="areaTotal" property="areaTotal" />
        <result column="areaFail" property="areaFail" />
        <result column="groupJson" property="groupJson" />
    </resultMap>

    <select id="getLastLink" resultType="com.as.lingod.domain.FaLinkPool">
        SELECT * FROM link_pool
        WHERE xianbie=#{name}
        ORDER BY createDate DESC
        LIMIT 1
    </select>

</mapper>
