<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.as.lingod.dao.FaSatatimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.as.lingod.domain.FaSatatime">
        <id column="id" property="id" />
        <result column="device" property="device" />
        <result column="batch" property="batch" />
        <result column="pass" property="pass" />
        <result column="fail" property="fail" />
        <result column="createDate" property="createDate" />
        <result column="is_out" property="isOut" />
    </resultMap>

</mapper>
